.formWrapper {
  display: flex;
  width: 300px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.formInp {
  width: 285px;
  margin-bottom: 20px !important;
}

.formBtn {
  display: block !important;
  width: 180px;
  margin: 0 auto !important;
}
