.homePage {
  margin: 30px auto;
  text-align: center;
}

.homeIcon {
  width: 25px;
  height: 25px;
}

.container {
  width: 780px;
  padding: 20px 10px;
  margin: 0 auto;
}

.formTitle {
  text-align: center;
  font-size: 24px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formInp {
  width: 380px;
  margin-bottom: 30px !important;
}

.contactsPage {
  display: flex;
  justify-content: space-around;
}
